@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Lato|PT+Serif|PT+Sans+Narrow');

/*General*/
body {
  font-family: 'Playfair Display', serif;
  background: #f9f2ec;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

section {
  margin: auto;
  width: 1100px;
  background: white;
  margin-top: -10px;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: #d9e6f2;
}

.article {
  width: 650px;
  margin: auto;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

h2 {
  margin-top: -30px;
  font-size: 40px;
  line-height: 110%;
}

h4 {
  font-family: 'Lato', sans-serif;
  color: #264d73;
  font-size: 13px;
  margin-bottom: 25px;
}

h5 {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.caption > p {
  font-family: 'PT Sans Narrow', sans-serif;
  margin-top: -2px;
  color: #4d4d4d;
  font-size: 16px;
}

.byline > p {
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4d4d4d;
    font-size: 18px;
}

.article-text > p {
  font-family: 'PT Serif', serif;
  color: #262626;
  font-size: 18px;
}

/*Header*/

.headercontainer {
  display: flex;
  width: 100%;
  margin: auto;
  height: 30px;
}

.headercontainer > div {
  flex: auto;
}

.headerone {
  background: #13354E;
  width: 60%;
  color: white;
  border-color: #b3b3b3;
  border-width: 1px;
  border-style: solid;
}

.headerone > a {
  margin-left: 115px;
}

.headertwo {
  background: #13354E;
  width: 6%;
  border-color: #b3b3b3;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.headerthree {
  background: #13354E;
  width: 6%;
  border-color: #b3b3b3;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.headerfour {
  background: #13354E;
  width: 6%;
  border-color: #b3b3b3;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.headerfive {
  background: #13354E;
  border-color: #b3b3b3;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.headersix {
  width: 100%;
  height: 45px;
  background: #13354E;
  color: white;
  border-color: #b3b3b3;
  border-width: 1px;
  border-style: solid;
  border-top: none;
}

.headersix > a {
  margin-left: 115px;
  font-size: 30px;
}

.headerone:hover {
  background: grey;
  width: 60%;
}

.headertwo:hover {
  background: grey;
}

.headerthree:hover {
  background: grey;
}

.headerfour:hover {
  background: grey;
}

.headerimage > img {
  margin-top: -10px;
  width: 100%;
}

/*Interactive*/

.interactive {
  border-style: solid;
  border-width: 1px;
  border-color: #990000;
}

h3 {
  color: #990000;
  margin-top: 0px;
  font-size: 42px;
  text-align: center;
}

h5 {
  margin-top: -45px;
  font-size: 30px;
  text-align: center;
}

.i-intro > p {
  margin-top: -17px;
  font-size: 20px;
  text-align: center;
}

.placeholder {
  background: darkgrey;
  color: white;
}

.i-container {
  display: -webkit-flex;
  display: flex;
  margin-top:-5px;
  font-size: 40px;
  width: 100%;
  background-color: white;
}

.i-dropdown {
  width: 50%;
}

.airportchart1 div {
  height: 50px;
  font-size: : 30px;
  background-color: #990000;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: white;
  margin-bottom: 30px;
}

.airportchart2 div {
  height: 50px;
  font-size: : 30px;
  background-color: #990000;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: white;
  margin-bottom: 30px;
}

#testo {
  margin-top: 40px;
  margin-left: 11px;
}

#selone {
  background-color: #990000;
  color: white;
  width:300px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#seltwo {
  background-color: #990000;
  color: white;
  width:300px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.airportbar1 {
  display: -webkit-flex;
  display: flex;
  height: 80px;
}

#airplane > img {
  width: 80px;
}

svg {
  fill: red;
}

.facts {
  font-size: 22px;
  margin-bottom: 26px;
}

/*Graphs*/

.bar { fill: steelblue; }

/*Case Study*/

.cscontainerone {
  display: flex;
  width: 100%;
  margin-left: 100px;
}

.cscontainertwo {
  display: flex;
  width: 100%;
  margin-left: 210px;
}

.csflex  {
  flex: initial;
}

#cscaptionone {
  color: white;
  width: 274px;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

#cscaptiontwo {
  color: white;
  width: 274px;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

#cstext {
  width: 44%;
  font-family: 'PT Serif', serif;
  color: #262626;
  font-size: 18px;
  margin-left: 15px;
  margin-top: -17px;
}

#cstexttwo {
  width: 44%;
  font-family: 'PT Serif', serif;
  color: #262626;
  font-size: 18px;
  margin-left: 15px;
  margin-top: -17px;
  margin-right: 10px;
}

.progress {
  width: 100%;
  height: 30px;
}

.progress-wrapone {
  background: #ff6666;
  overflow: hidden;
  position: relative;
}

.progress-barone {
    background: #990000;
    left: 0;
    position: absolute;
    top: 0;
}

.progress-wraptwo {
  background: #ff6666;
  overflow: hidden;
  position: relative;
}

.progress-bartwo {
    background: #990000;
    left: 0;
    position: absolute;
    top: 0;
}

/*Footer*/

.commentsection {
  width: 650px;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.commentsection > p > a:link {
  color: #262626;
}

.commentsection > p > a:visited {
  color: #262626;
}
